<h3>eScience Steering Committee Charter</h3>

<div class="entry-content">

    <p>
        <strong>eScience Steering Committee Charter (as amended&nbsp;27 Nov 2019)</strong>
    </p>

    <p>
        <strong>I.&nbsp; Purpose of the International Conference on eScience (herein known as the eScience
            Conference)</strong>
    </p>

    <p>
        <em>The objective of the eScience Conference is to promote and encourage all aspects of eScience and its
            associated technologies, applications, and tools.</em>
    </p>

    <p>The conference is managed by a standing Steering Committee, a standing Advisory Committee, and for each
        conference, an Organizing Committee and a Program Committee.</p>

    <p>
        <strong>II. Sponsorship</strong>
    </p>

    <p>The Sponsor shall have the right to withdraw from participation in eScience. The Sponsor will provide notice of
        withdrawal as soon as possible prior to the next eScience, but no later than the publishing of the Call For
        Papers. Withdrawal shall be effective upon receipt by the Sponsor(s) of written notice of withdrawal. Upon the
        effective date of withdrawal, all references to the Sponsor shall be deleted from all promotional, advertising,
        and other materials produced for the purpose of distribution in connection with eScience. The withdrawing
        Sponsor will be liable for its proportionate share of any expenses, losses, and contractual obligations incurred
        up to the effective date of withdrawal unless a new sponsor agrees to assume all liability for expenses, losses,
        and contractual obligations. The name of the conference belongs to the Sponsor unless released to a new sponsor
        for continuation.</p>

    <p>
        <strong>III. The Steering Committee</strong>
    </p>

    <p>
        <strong>A.&nbsp; Purpose</strong>
    </p>

    <p>To oversee the long-term planning and success of this conference.&nbsp; The Steering Committee plans for future
        conferences, evaluates how well each conference has achieved the objectives stated above, and implements
        improvements to better meet these objectives.</p>

    <p>The Steering Committee is responsible for the general oversight of and setting policy for the Conference. The
        Steering Committee is normally responsible for making the major strategic decisions, namely, the appointment of
        the general chair(s) and program chair(s), selection of dates and locations, major theme, and communication with
        the sponsor. In addition, the Steering Committee may review and approve the budget before it is sent to the
        sponsor.</p>

    <p>More specifically the Steering Committee should</p>

    <ol>
        <li>Plan future eScience Conferences,</li>
        <li>Obtain feedback about the eScience Conference for the purpose of improving the conference,</li>
        <li>Select the General and Program Chairs of future eScience Conferences in response to the submitted proposals,
        </li>
        <li>Select the sites and dates for future eScience Conferences, in response to the submitted proposals,</li>
        <li>Assist in the appointment of other positions in the Program Committee.</li>
        <li>Monitor the progress of future eScience Conferences, and act if needed to prevent problems that would
            seriously affect the reputation of the conference.</li>
    </ol>

    <p>
        <strong>B.&nbsp; Steering Committee Chairperson</strong>
    </p>

    <p>The Chair of the Steering Committee shall be elected from among the Steering Committee members for a term of no
        more than three years.&nbsp; The same Chair can be elected for one additional term.&nbsp; After finishing
        his/her term, the Chair must leave the Steering Committee for a minimum period of two years before becoming
        eligible to serve on the Steering Committee again.</p>

    <p>
        <strong>C.&nbsp; Steering Committee Secretary</strong>
    </p>

    <p>The Secretary of the Steering Committee shall be elected from among the Steering Committee members for a term of
        no more than three years.&nbsp; The same Secretary can be elected for one additional term.&nbsp; After finishing
        his/her term, the Secretary must leave the Steering Committee for a minimum period of two years before becoming
        eligible to serve on the Steering Committee again. In the absence of a Steering Committee Secretary, the
        Steering Committee chair shall keep meeting minutes.</p>

    <p>
        <strong>D.&nbsp; Steering Committee Members</strong>
    </p>

    <p>The current Steering Committee members in the meeting held at each year’s eScience Conference shall select new
        members of the Steering Committee. The committee membership is open to all participants of any eScience
        Conference who have significant experience in the operation of conferences (such as serving as General and/or
        Program Chairs of past conferences). Any participant interested to serve should indicate their interest to the
        Steering Committee Chair. The term of office of each member is 3 years, renewable twice for another term of 3
        years.&nbsp; After serving 3 terms, a Steering Committee member must be off the Steering Committee for a minimum
        period of two years before becoming eligible to serve again. (Initial terms will be staggered to insure
        continuity on the committee). The newly elected members of the Steering Committee take office as soon as the
        meeting in which they were elected is over.</p>

    <p>
        <strong>E. Voting Rights</strong>
    </p>

    <p>
        During meetings of the Steering Committee, each member shall have
        <strong>one vote</strong>
        . A quorum both for face-to-face meetings and for email or phone meetings will be a majority (greater than 50%)
        of the number of members of the Steering Committee.&nbsp; Written proxies may be submitted by electronic or
        surface post to the secretary or the chair of the Steering Committee.&nbsp; Steering Committee members will be
        informed sufficiently in advance of any known motions to be voted on during a forthcoming meeting.&nbsp; The
        chair has the deciding vote in cases of tied votes.
    </p>

    <p>
        <strong>F.&nbsp; Steering Committee Meetings</strong>
    </p>

    <p>A Steering Committee meeting must be held at each eScience. If necessary, interim meetings can be called by the
        Steering Committee Chair or by a simple majority of the members and can also be held by electronic mail or by
        other means.</p>

    <p>Steering Committee members are expected to attend the Steering Committee meeting at each eScience. Members who
        miss two consecutive meetings at eScience without giving sufficient cause are considered withdrawn from the
        Committee, subject to review by the Steering Committee.</p>

    <p>The secretary or another member of the Steering Committee designated by the Chair will take minutes.&nbsp; The
        Chair and Secretary will both maintain minutes of the past Steering Committee meetings.</p>

    <p>
        <strong>III. The Advisory Committee</strong>
    </p>

    <p>
        <strong>A.&nbsp; Purpose</strong>
    </p>

    <p>To contribute to the long-term planning and success of this conference.&nbsp; The Advisory Committee provides
        advice to the Steering Committee.&nbsp; It works with the Steering Committee to plan for future conferences,
        evaluate how well each conference has achieved the objectives stated above, and implement improvements to better
        meet these objectives.</p>

    <p>
        <strong>B.&nbsp; Advisory Committee Members</strong>
    </p>

    <p>When a Steering Committee member completes a term of service on the Steering Committee, if that member so
        desires, he or she can become a member of the Advisory Committee. Advisory Committee membership continues until
        the member resigns, or a majority of the Steering Committee votes for the Advisory Committee members’ membership
        to cease.</p>

    <p>
        <strong>C. Voting Rights</strong>
    </p>

    <p>Advisory Committee members may participate in discussions with the Steering Committee, but do not vote.</p>

    <p>
        <strong>IV. Constituting a Conference</strong>
    </p>

    <p>The Steering Committee obtains, through open and informal solicitations, proposals for: conference locations,
        names of individuals who are suitable to serve as General Chair(s), individuals who are suitable to serve as
        Program Chair(s), and other organizational issues.&nbsp; Individuals or institutions interested to propose and
        organize a future eScience should follow the steps listed below.</p>

    <p>
        <strong>A.</strong>
        Written proposals for the conference should be sent to the Chair of the Steering Committee significantly before
        the proposed conference date. The decision on the conference will generally be made at least 24 months before
        the proposed date.
    </p>

    <p>
        <strong>B.</strong>
        Proposals shall list facilities, venue, proposed management, budgets and financial arrangements, a brief summary
        of the conference structure, a draft of a preliminary call for papers, and any other information required by the
        Steering Committee. In particular, the scheduling of any other potentially conflicting meetings within several
        months before or after the proposed meeting date must be evaluated as part of the proposal.
    </p>

    <p>
        <strong>C.</strong>
        Those wishing to host a future eScience Conference should make their intentions known sufficiently in advance of
        the proposed date (e.g. 30 months) so that any information required by the Steering Committee can be obtained in
        a timely manner, and other activities can be integrated into a program of interest to all.
    </p>

    <p>
        <strong>D.</strong>
        The Steering Committee reviews proposals and may seek advise from anonymous reviewers. If the evaluation is
        positive, the Steering Committee will tentatively accept the proposal, and the proposer(s) will be asked to
        prepare a detailed budget using the IEEE CS appropriate forms (TMRF) and submit the form to the Steering
        Committee Chair at least 15 months before the proposed conference date. After approval by the Steering Committee
        it will be passed to the Society. The IEEE Computer Society will make final approval of the TMRF.
    </p>
</div>